$disabled-color:gray;
$primary-color:blue;
$light-lightgray:lighten(lightgray,10%);

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Verdana,Tahoma, sans-serif;
  color:$primary-color;
  font-weight:bold;
}
h1{
  margin: 0;
  padding:0;
  background-color: $light-lightgray;
  text-align: center;
}
#header {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightblue;
  margin: 0;
  margin-bottom: 0.3%;
}
main{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
@media (min-width:1920px){
  main{
    display: grid;
    grid-template-areas: //"header header header"
                        "game game map map"
                        "graf graf graf graf";
    
  }
  #header{
    grid-area: header;
  }
  #questions{
    grid-area: game;
    
    //min-height: $first-row-grid-heigth;
  }
  #mymap{
    
    grid-area:map;
  }
  #stats{
    grid-area: graf;
  }
}
     
